<div class="tab-grp">
  <ul class="tab-list-container">
    {{#each @tabs as |tabHead|}}
    <li class="tab-menu"><button type="button" {{on 'mouseover' (fn this.showSubMenu tabHead)}} {{on 'mouseout' (fn this.hideSubMenu)}} class="tab-menu-button">{{tabHead.title}}</button></li>
    {{/each}}
    <li class="tab-menu">
      <input type="text" class="tab-search" {{on 'focusout' (fn this.showSubMenu)}} {{on 'focus' (fn this.hideSubMenu)}} />
    </li>
  </ul>
  <div class="dialog-popup1">
    <div class="sub-menu-container" style="display: {{if this.subMenuVisible 'block' 'none'}}" >
      <HeaderSubMenu @submenus={{this.submenu}} @subMenuVisible={{this.subMenuVisible}} @cbForActiveHover={{this.toggleSubMenu}}/>
    </div>
  </div>
  <div>
    <ul>
      <li>
        {{#link-to "settings" class="setting-icon"}}{{/link-to}}
      </li>
      <li>
        {{#link-to "settings" class="add-icon"}}{{/link-to}}
      </li>
    </ul>
  </div>
</div>




  <div class="form-page">
<div class="form-hdr">
    <p>Create Company</p>
</div>

<div class="ui-form">
  <div style="width:500px;">
    <div class="field-section">
       <div class="form-label">
            <p>First Name</p>
       </div>
    <div class="form-field">
      <input type="text" class="field-text">
    </div>
   </div>

  <div class="field-section">
    <div class="form-label">
      <p>First Name</p>
    </div>
    <div class="form-field input-mandatory">
      <input type="text" class="field-text">
    </div>
  </div>
  <div class="form-sec-hdr"> 
      Address Information
  </div>
   <div class="field-section">
    <div class="form-label">
      <p>First Name</p>
    </div>
    <div class="form-field input-mandatory">
      <input type="text" class="field-text">
    </div>
  </div>

</div>
</div>

  <div class="form-botm-btn-sec">
      <a href="" class="link-text fl"> Field Settings </a>  <a href="" class="primary-button fr ml10">Save</a><a href="" class="secondary-button fr">Cancel</a>
  </div>

  </div>



