<!-- <ul class="records-list-container">
{{#each @columnKeys as |key|}}
                <div class="item-column">
                     {{key}}
                </div>
            {{/each}}
  {{#each @records as |record|}}
    <li class="record-list-item">
        <LinkTo @route="tab">
            {{#each @columnKeys as |key|}}
                <div class="item-column">
                     {{get record key}}
                </div>
            {{/each}}
        </LinkTo>
    </li>
  {{/each}}
</ul>
 -->
<table cellpadding="0" cellspacing="0" class="canvas-view-tbl">
  {{#each @records as |record|}}
  <!--     <li class="record-list-item">
        <LinkTo @route="tab">
            {{#each @columnKeys as |key|}}
                <div class="item-column">
                     {{get record key}}
                </div>
            {{/each}}
        </LinkTo>
    </li> -->
  <tr>
    <td>
      <div class="ml20 can-row-1"><a href="" class="fl">{{get record "Name"}}</a>
        <p class="fl ml20">{{get record "mail"}}</p>
      </div>
      <ul class="can-viw-list">
        {{#each @columnKeys as |key|}}
        <li><span class="can-lbl">{{key}} :</span> <span class="can-val">{{get record key}}</span></li>
        {{/each}}
        
        
      </ul>
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      <p class="job-status">VIP</p>
      <p class="job-priority">Active</p>
    </td>
  </tr>
  {{/each}}
</table>