<div class="listview-top">
        <ul>
                <li class="fl"><a href="javascript:;" class="list-filter-icon">&nbsp;</a></li>
                <li class="fl"><div class="custom-view-link">All Appointments</div></li>

                <li class="fr"><a href="javascript:;" class="green-cir-bg fl"><span class="list-more-icon">&nbsp;</span></a></li>
                <li class="fr">{{#link-to "create" class="primary-button fr"}}New Appointment{{/link-to}}</li>

                 <li class="fr">

                 <ul>
                    <li {{on "click" (fn this.changeView "list")}} class="go-list-view-icon">&nbsp;</li>
                    <li {{on "click" (fn this.changeView "canvas")}} class="canvas-view-icon">&nbsp;</li>
                </ul>
                 
                 </li>

                
        </ul>
    </div>

<div class="list-start-div">
{{#if (eq this.selectedView 'list')}}
<ListRecords @list={{@model.records}} @columnKeys={{@model.columns}} @searchOptions={{@model.searchOptions}}/>
{{else if (eq this.selectedView 'canvas')}}
<RecordsCanvasView @records={{@model.records}} @columnKeys={{@model.columns}} @searchOptions={{@model.searchOptions}}/>
{{/if}}
</div>
